{%- if ansible_distribution == "MacOSX" and ansible_architecture != 'arm64' -%}
pinentry-program /usr/local/bin/pinentry-mac
{%- elif ansible_distribution == "MacOSX" and ansible_architecture == 'arm64' -%}
pinentry-program /opt/homebrew/bin/pinentry-mac
{% endif %}
