#########
# Tools #
#########

# The next line updates PATH for the Google Cloud SDK.
if [ -f "${HOME}/google-cloud-sdk/path.bash.inc" ]; then source "${HOME}/google-cloud-sdk/path.bash.inc"; fi

# The next line enables shell command completion for gcloud.
if [ -f "${HOME}/google-cloud-sdk/completion.bash.inc" ]; then source "${HOME}/google-cloud-sdk/completion.bash.inc"; fi

########################
# Programing Languages #
########################

# asdf
if [ -e "${HOME}/.asdf/asdf.sh" ]; then
  . ${HOME}/.asdf/asdf.sh
  . ${HOME}/.asdf/completions/asdf.bash
fi

# Python
vew_file="/usr/local/bin/virtualenvwrapper.sh"
if [ -e "${vew_file}" ]; then
  export WORKON_HOME="${HOME}/.pyenvs"
  source "${vew_file}"
fi

# gpg-agent
unset SSH_AGENT_PID
if [ "${gnupg_SSH_AUTH_SOCK_by:-0}" -ne $$ ]; then
  export SSH_AUTH_SOCK="${HOME}/.gnupg/S.gpg-agent.ssh"
fi

if ( ! [ -x /usr/local/bin/gpg ] ) && [ -x /usr/local/bin/gpg2 ]; then
  alias gpg='gpg2'
fi

export GPG_TTY=$(tty)

# Node
if [ -e "~/.npmrc" ]; then
  export NPM_TOKEN=$(cat ~/.npmrc | awk -F'_authToken=' '{print $2}')
fi
